In [2]:
import pandas as pd
import numpy as np

In [4]:
s1 = pd.Series(np.arange(4), index= ["a", "c", "d", "e"])
s2 = pd.Series(np.arange(5), index= ["a", "c", "e", "f", "g"])
s1

# 2 tane Series veri oluşturduk.
# Indexlerine isim verdik.
# 1. veriyi ekrana yazdırdık.

a    0
c    1
d    2
e    3
dtype: int32

In [5]:
s2

# 2. veriyi ekrana yazdırdık.

a    0
c    1
e    2
f    3
g    4
dtype: int32

In [6]:
s1 + s2

# İki Series'in toplamını aldık.
# Eşleşen satırlar toplandı. 
# Eşleşmeyenler NaN olarak yazdırıldı.

a    0.0
c    2.0
d    NaN
e    5.0
f    NaN
g    NaN
dtype: float64

In [7]:
df1 = pd.DataFrame(np.arange(6).reshape(2, 3), columns= list("ABC"), index= ["Ali", "Efe"])
df2 = pd.DataFrame(np.arange(9).reshape(3, 3), columns= list("ACD"), index= ["Ali", "Can", "Efe"])
df1

# 2 tane Dataframe oluşturduk.
# index ve columns isimlerini verdik.
# 1. dataframe'i ekrana yazdırdık

     A  B  C
Ali  0  1  2
Efe  3  4  5

In [8]:
df2

# 2. dataframe'i ekrana yazdırdık.

     A  C  D
Ali  0  1  2
Can  3  4  5
Efe  6  7  8

In [9]:
df1 + df2

# İki dataframe'in toplamını ekrana yazdırdık.
# Eşleşenler toplandı.
# Eşleşmeyenler NaN olarak belirsiz kaldı.

       A   B     C   D
Ali  0.0 NaN   3.0 NaN
Can  NaN NaN   NaN NaN
Efe  9.0 NaN  12.0 NaN

In [10]:
df1.add(df2, fill_value= 0)

# Eşleşmeyen verilerde fill_value= parametresini atayarak istediğimiz rakamla doldurmasını isteyebiliriz.
# İkisinden birinin verisi bulunmadığı için yapılmayan toplamalarda verisi bulunmayan veriyi 0 olarak aldı.
# Ancak ikisininde verisi bulunmayan durumlarda örneğin Can-B bu fill_value= parametresi işlem görmez.

       A    B     C    D
Ali  0.0  1.0   3.0  2.0
Can  3.0  NaN   4.0  5.0
Efe  9.0  4.0  12.0  8.0

In [11]:
1 / df1

# 1. dataframe'in verilerinin ondalık halini alabiliriz.
# Bu işleme çarpmanın tersi de diyebilirsiniz.

            A     B    C
Ali       inf  1.00  0.5
Efe  0.333333  0.25  0.2

In [12]:
df1 * 3

# 1. dataframe'in verilerini 3 ile çarptık.

     A   B   C
Ali  0   3   6
Efe  9  12  15

In [13]:
df1.mul(3)

# mul() methodu da çarpma işlemi yapmaya yarar.
# parametre olarak hangi sayıyı girersek onunla çarpma işlemi yapılır.

     A   B   C
Ali  0   3   6
Efe  9  12  15

In [14]:
df2

     A  C  D
Ali  0  1  2
Can  3  4  5
Efe  6  7  8

In [15]:
s = df2.iloc[1]
s

# 2. dataframe'in 1. satırını s değişkenine atadık ve yazdırdık.

A    3
C    4
D    5
Name: Can, dtype: int32

In [16]:
df2 - s

# 2. dataframe'den bu yeni belirlediğimiz s Series'ini çıkarttık.
# Veriler eşleştiği için çıkarma işlemini yaptı.

     A  C  D
Ali -3 -3 -3
Can  0  0  0
Efe  3  3  3

In [18]:
df2

     A  C  D
Ali  0  1  2
Can  3  4  5
Efe  6  7  8

In [17]:
s2 = df2["A"]
s2

# 2. dataframe'den A sütununu s2 değişkenine atadık ve yazdırdık.

Ali    0
Can    3
Efe    6
Name: A, dtype: int32

In [19]:
df2.sub(s2, axis= "index")

# 2. dataframe'den s2 sütunu çıkarılmış oldu.
# Her sütuna ayrı ayrı aynı işlemi uyguladığını görebilirsiniz.

     A  C  D
Ali  0  1  2
Can  0  1  2
Efe  0  1  2

In [20]:
vs = pd.DataFrame(np.random.randn(4, 3), columns= list("ABC"), index= ["Ali", "Berk", "Can", "Efe"])
vs

# vs adlı dataframe'imizi oluşturduk
# sütun ve satır isimlerini verdik.

             A         B         C
Ali   0.246132 -1.755007  0.521020
Berk -0.431277  0.118820  0.419938
Can  -1.105404  0.440460 -0.681511
Efe   0.489677 -0.233499 -1.579050

In [21]:
np.abs(vs)

# Numpy'ın abs() methoduyla vs dataframe'inin mutlak değerlerini aldık.

             A         B         C
Ali   0.246132  1.755007  0.521020
Berk  0.431277  0.118820  0.419938
Can   1.105404  0.440460  0.681511
Efe   0.489677  0.233499  1.579050

In [22]:
f = lambda x:x.max()-x.min()

# bir f fonksiyonu oluşturduk.

In [24]:
vs

             A         B         C
Ali   0.246132 -1.755007  0.521020
Berk -0.431277  0.118820  0.419938
Can  -1.105404  0.440460 -0.681511
Efe   0.489677 -0.233499 -1.579050

In [23]:
vs.apply(f)

# Oluşturduğumuz fonksiyonu apply() methodu ile kullanabiliriz.
# Dataframe'imizde f fonksiyonu işlemleri yaptı.
#Sütundaki en büyük sayıdan en küçüğü çıkardı ve yazdırdı.

A    1.595081
B    2.195467
C    2.100070
dtype: float64

In [26]:
vs.apply(f, axis= 1)

# axis= 1 parametresi girerek bunu her satıra uygulayabiliriz.

Ali     2.276027
Berk    0.851215
Can     1.545864
Efe     2.068727
dtype: float64

In [27]:
def f(x):
    return x ** 2

# f fonksiyonumuzu tanımladık.
# Kullanıldığında karesini alacaktır.

In [30]:
vs.apply(f)

# Fonksiyonu kullanmayı görmüştük zaten kullanınca da alınan sonucu görebiliyoruz.

             A         B         C
Ali   0.060581  3.080049  0.271462
Berk  0.186000  0.014118  0.176348
Can   1.221918  0.194005  0.464458
Efe   0.239783  0.054522  2.493400