In [1]:
import pandas as pd

In [2]:
s = pd.Series([1, 2, 3, 4], index = ["a", "b", "c", "d"])
s

# Series yapısında bir veri oluşturduk.

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
s["a"]

# a indexindeki değeri bu şekilde çağırabiliyorduk.

1

In [4]:
s2 = s.reindex(["b", "d", "a", "c", "e"])
s2

# reindex() metodu ile indexleri yeniden isimlendirdik.
# Aynı zamanda fazladan index girdiğimiz içinde bir e satırı oluşturmuş olduk.
# e satırının verisi olmadığı için bize NaN olarak geri döndürüldü.

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

In [8]:
s3 = pd.Series(["mavi", "sarı", "mor"], index= [0, 2, 4])
s3

# Yeni bir Series tanımladık.

0    mavi
2    sarı
4     mor
dtype: object

In [10]:
s3.reindex(range(6), method= "ffill")

# ffill yani forward fill ile genişlettiğimiz Seriesimizde boş yerleri bir önceki veriye göre doldurmuş olduk.

0    mavi
1    mavi
2    sarı
3    sarı
4     mor
5     mor
dtype: object

In [11]:
import numpy as np

In [13]:
df = pd.DataFrame(np.arange(9).reshape(3, 3), index= ["a", "b", "c"], columns= ["ali", "efe", "can"])
df

# Numpydan faydalanarak bir dataframe oluşturduk.

   ali  efe  can
a    0    1    2
b    3    4    5
c    6    7    8

In [14]:
df2 = df.reindex(["d", "c", "b", "a"])
df2

# reindex() metoduyla yine bir yeniden isimlendirme yaptık.
# Önceki dataframe 'e göre d satırı yeni eklendiği ve verisi olmadığı için NaN olarak yazdırıldı.

   ali  efe  can
d  NaN  NaN  NaN
c  6.0  7.0  8.0
b  3.0  4.0  5.0
a  0.0  1.0  2.0

In [15]:
isim = ["efe", "nur", "ali"]
df.reindex(columns= isim)

# reindex() methoduna columns= parametresi girersek sütunlarında ismini değiştirebiliriz.

   efe  nur  ali
a    1  NaN    0
b    4  NaN    3
c    7  NaN    6

In [19]:
df.loc[["c", "b", "a"]]

# loc() methoduyla da satırların yerlerini değiştirebiliriz.

   ali  efe  can
c    6    7    8
b    3    4    5
a    0    1    2

In [21]:
s = pd.Series(np.arange(5), index= ["a", "b", "c", "d", "e"])
s

# Series veri tipi oluşturduk.
# İndex adlarını belirledik.

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [22]:
yeni_s = s.drop("b")
yeni_s

# drop() methoduyla satır silme işlemi yapabiliyoruz.

a    0
c    2
d    3
e    4
dtype: int32

In [23]:
s.drop(["c", "d"])

# Birden fazla silme işleminde liste içine alarak gösteriyoruz.

a    0
b    1
e    4
dtype: int32

In [24]:
veri = pd.DataFrame(np.arange(16).reshape(4,4), index= ["Ali", "Can", "Efe", "Nur"], columns= list("ABCD"))
veri

# Dataframe veri tipi oluşturduk.
# Satır ve sütun isimlerini verdik.

      A   B   C   D
Ali   0   1   2   3
Can   4   5   6   7
Efe   8   9  10  11
Nur  12  13  14  15

In [25]:
veri.drop(["Ali", "Efe"])

# Satır silme işlemleri Series'tekiyle aynı oluyor.

      A   B   C   D
Can   4   5   6   7
Nur  12  13  14  15

In [26]:
veri.drop("A", axis= 1)

# axis= 1 sütun siliyor.

      B   C   D
Ali   1   2   3
Can   5   6   7
Efe   9  10  11
Nur  13  14  15

In [27]:
veri.drop("Ali", axis= 0)

# axis= 0 satır siliyor.

      A   B   C   D
Can   4   5   6   7
Efe   8   9  10  11
Nur  12  13  14  15

In [28]:
veri

      A   B   C   D
Ali   0   1   2   3
Can   4   5   6   7
Efe   8   9  10  11
Nur  12  13  14  15

In [29]:
veri.mean()

# mean() methoduyla sütunların ortalamasını aldık.

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [30]:
veri.mean(axis= 0)

# axis= 0 satıra etki ettiği için aynı sonuca ulaştık.

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [31]:
veri.mean(axis= 1)

# axis= 1 parametresiyle sütunların ortalamasına ulaştık.

Ali     1.5
Can     5.5
Efe     9.5
Nur    13.5
dtype: float64

In [32]:
veri.mean(axis= "index")

# axis= 0 yerine "index" yazarakta satıra etki edip aynı sonuca ulaşırız.

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [33]:
veri.mean(axis= "columns")

# axis= 0 yerine "colums" yazarakta sütuna etki edip aynı sonuca ulaşırız.

Ali     1.5
Can     5.5
Efe     9.5
Nur    13.5
dtype: float64