In [1]:
import pandas as pd

In [3]:
students = {"Hale" : pd.Series(data= [25, "Çetin", "CE", 161], index= ["age", "surname", "department", "height"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "Gülşen", "TT", 175], index= ["age", "surname", "department", "height"])
}

df_students = pd.DataFrame(students)

print(df_students)

# dataframe atamamızı yaptık.
# Gördüğünüz gibi eksik verilerimiz var ve bunlar NaN olarak yazdırılıyor.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN    83     NaN

In [5]:
# isnull() metodu

x = df_students.isnull()

print(x)
print(type(x))

# isnull metodu bir sorgulama metodudur.
# Pandasa verinin var olup olmadığını soruyoruz.
# Eğer veri varsa False, veri yoksa True ifadelerini yazdırıyor.
# ve isnull metodumuz dataframe'imizin tipini değiştirmiyor. Hala dataframe olduğunu görebiliriz.

             Hale  Ahmet  Fatma
age         False  False  False
department  False  False  False
gender       True  False   True
height      False   True  False
surname     False   True  False
weight       True  False   True
<class 'pandas.core.frame.DataFrame'>

In [6]:
y = df_students.isnull().sum()

print(y)
print(type(y))

# Sorgulayıcı metodumuzda sum metodu ile toplama yaparak kaç tane True değeri olduğunu öğrendik.
# ve bunun sonucunda bize bir Series döndürüldü.

Hale     2
Ahmet    2
Fatma    2
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
z = df_students.isnull().sum().sum()

print(z)
print(type(z))

# sum metodunu art arda kullanarak 6 tane boş verimiz yani NaN değerimizi bulduk.
# Bu da bize numpy değeri olarak geri döndü.

6
<class 'numpy.int64'>

In [9]:
# notnull() metodu

x = df_students.notnull()

print(x)
print(type(x))

# notnull metodu bir sorgulama metodudur.
# Pandasa verinin var olup olmadığını soruyoruz.
# Eğer veri varsa True, veri yoksa False ifadelerini yazdırıyor.
# ve notnull metodumuz dataframe'imizin tipini değiştirmiyor. Hala dataframe olduğunu görebiliriz.

             Hale  Ahmet  Fatma
age          True   True   True
department   True   True   True
gender      False   True  False
height       True  False   True
surname      True  False   True
weight      False   True  False
<class 'pandas.core.frame.DataFrame'>

In [10]:
y = df_students.notnull().sum()

print(y)
print(type(y))

# Sorgulayıcı metodumuzda sum metodu ile toplama yaparak kaç tane True değeri olduğunu öğrendik.
# ve bunun sonucunda bize bir Series döndürüldü.

Hale     4
Ahmet    4
Fatma    4
dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
z = df_students.notnull().sum().sum()

print(z)
print(type(z))

# sum metodunu art arda kullanarak 6 tane dolu verimiz olduğunu bulduk.
# Bu da bize numpy değeri olarak geri döndü.
# Sizinde anladığınız gibi notnull metodumuz isnull metodumuzun tam tersi sonuç veriyor.

12
<class 'numpy.int64'>

In [12]:
# count() metodu

x = df_students.count()

print(x)
print(type(x))

# count metodu da isnull ve notnull gibi görev görür.
# Sütunlarda kaç tane veri bulunuyor bize onu saydı.
# Ancak isnull ve notnulldan farklı olarak sum metodu kullanmadan bize veri tipini Series olarak döndürdü.

Hale     4
Ahmet    4
Fatma    4
dtype: int64
<class 'pandas.core.series.Series'>

In [13]:
y = df_students.count().sum()

print(y)
print(type(y))

# Bir kere sum metodu kullandığımızda numpy veri tipine ulaşmış oldu.

12
<class 'numpy.int64'>

In [15]:
z = df_students.count().sum().sum()

print(z)
print(type(z))

# isnull ve notnullda olduğu gibi count metodunda ikinci bir sum kullanmamızın hiçbir gereği yoktur.
# Tek sum metodu kullandığımızda aldığımız sonuçta farklı bir sonuç almayız.

12
<class 'numpy.int64'>

In [17]:
students = {"Hale" : pd.Series(data= [25, "Çetin", "CE", 161], index= ["age", "surname", "department", "height"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "Gülşen", "TT", 175], index= ["age", "surname", "department", "height"])
}

df_students = pd.DataFrame(students)

print(df_students)

# dataframe atamamızı gözden kaybetmemek için tekrar buraya aldım.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN    83     NaN

In [18]:
# dropna() metodu

x = df_students.dropna()

print(x)
print(type(x))

# NaN değeri bulunan bütün satırları silip bize sadece bütün verilerin olduğu şekilde dataframe'imizi yazdırdı.
# Dataframe'imizin önceki haline bakarsak gender, height, surname ve weight satırlarında NaN mevcut.

           Hale Ahmet Fatma
age          25    32    40
department   CE    EE    TT
<class 'pandas.core.frame.DataFrame'>

In [19]:
students = {"Hale" : pd.Series(data= [25, "Çetin", "CE", 161], index= ["age", "surname", "department", "height"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "Gülşen", "TT", 175], index= ["age", "surname", "department", "height"])
}

df_students = pd.DataFrame(students)

print(df_students)

# dataframe atamamızı gözden kaybetmemek için tekrar buraya aldım.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN    83     NaN

In [20]:
df_students.dropna()

print(df_students)

# dropna metodu bizim orjinal dataframe'imizin üzerinde bir değişiklik yapmaz.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN    83     NaN

In [21]:
x = df_students.dropna(how= "all")

print(x)
print(type(x))

# dropna metoduna parametre olarak how= "all" kullanırsak 
# Sadece satırdaki bütün verilerin NaN olması durumunda silmesi gerektiğini söyledik.
# Böyle bir verimiz olmadığı için dataframe üzerinde değişiklik olmadan yazdırıldı.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN    83     NaN
<class 'pandas.core.frame.DataFrame'>

In [22]:
df_students["Ahmet"]["weight"] = None

print(df_students)

# weight satırımızda Ahmet sütununda dolu olan verimize None atayarak boş görünmesini sağladık.
# Şimdi tekrardan how= "all" kullanarak ne olduğuna bakalım.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN  None     NaN

In [23]:
x = df_students.dropna(how= "all")

print(x)
print(type(x))

# Söylediğim gibi weight satırında dolu olan hiçbir sütun kalmadığı için weight satırını silip yazdırdı.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
<class 'pandas.core.frame.DataFrame'>

In [25]:
students = {"Hale" : pd.Series(data= [25, "Çetin", "CE", 161], index= ["age", "surname", "department", "height"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "Gülşen", "TT", 175], index= ["age", "surname", "department", "height"])
}

df_students = pd.DataFrame(students)

print(df_students)

# dataframe atamamızı gözden kaybetmemek için tekrar buraya aldım.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN    83     NaN

In [26]:
x = df_students.dropna(thresh= 1)

print(x)
print(type(x))

# thresh= 1 parametresi kullandığımızda hiçbir değişiklik olmadı.
# Çünkü thresh= 1 parametresi NaN ifadelerine izin verir.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN    83     NaN
<class 'pandas.core.frame.DataFrame'>

In [27]:
x = df_students.dropna(thresh= 2)

print(x)
print(type(x))

# Ancak ben thresh= 1'i thresh= 2 yaparsam 
# Bu kez satırda 2 tane NaN değeri olan satırları silip yazdırır.
# gender ve weight satırlarında 2 adet NaN olduğu için silindiler.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
height        161   NaN     175
surname     Çetin   NaN  Gülşen
<class 'pandas.core.frame.DataFrame'>

In [28]:
students = {"Hale" : pd.Series(data= [25, "Çetin", "CE", 161], index= ["age", "surname", "department", "height"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "Gülşen", "TT", 175], index= ["age", "surname", "department", "height"])
}

df_students = pd.DataFrame(students)

print(df_students)

# dataframe atamamızı gözden kaybetmemek için tekrar buraya aldım.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN    83     NaN

In [29]:
x = df_students.dropna(axis= 0)

print(x)
print(type(x))

# dropna metodumuzuda axis parametresi de verilebilir.
# axis= 0 dediğimizde NaN olan satırların hepsi siliniyor.

           Hale Ahmet Fatma
age          25    32    40
department   CE    EE    TT
<class 'pandas.core.frame.DataFrame'>

In [30]:
y = df_students.dropna(axis= 1)

print(y)
print(type(y))

# axis= 1 dediğimizde NaN olan bütün sütunları siliyor. 
# NaN değeri olmayan sütun olmadığı için bize boş bir dataframe geri döndürüldü.

Empty DataFrame
Columns: []
Index: [age, department, gender, height, surname, weight]
<class 'pandas.core.frame.DataFrame'>

In [31]:
# pandas.pydata.org sitesinden bu ve bunlar gibi bir sürü metot 
# ve o metotların parametrelerinin nasıl kullanıldığını 
# ve ne işe yaradığını öğrenebilirsiniz.

In [33]:
students = {"Hale" : pd.Series(data= [25, "Çetin", "CE", 161], index= ["age", "surname", "department", "height"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "Gülşen", "TT", 175], index= ["age", "surname", "department", "height"])
}

df_students = pd.DataFrame(students)

print(df_students)

# dataframe atamamızı gözden kaybetmemek için tekrar buraya aldım.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN    83     NaN

In [34]:
df_students.dropna(inplace= True)

print(df_students)

# inplace= True parametresiyle orjinal dataframemimizi değiştirilebilir hale getirdik.
# Bu sayede başka değere atamadan df_students 'ı yazdırdığımızda bu çıktıyı aldık.

           Hale Ahmet Fatma
age          25    32    40
department   CE    EE    TT

In [35]:
students = {"Hale" : pd.Series(data= [25, "Çetin", "CE", 161], index= ["age", "surname", "department", "height"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "Gülşen", "TT", 175], index= ["age", "surname", "department", "height"])
}

df_students = pd.DataFrame(students)

print(df_students)

# dataframe atamamızı gözden kaybetmemek için tekrar buraya aldım.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Çetin   NaN  Gülşen
weight        NaN    83     NaN

In [36]:
x = df_students.fillna(method= "ffill", axis= 0)

print(x)

# NaN değerleri yerine bir önceki satırda hangi değer varsa onu kopyalıp NaN yerine yazmış oluyor.
# Dediğim gibi dökümantasyon okumak çok önemli 
# Bu ders notlarınında bir çoğunu oradan öğrenerek deniyorum.
# Sizde pandas.pydata.org sitesinden dökümantasyonları okuyabilirsiniz.

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender         CE     M      TT
height        161     M     175
surname     Çetin     M  Gülşen
weight      Çetin    83  Gülşen

In [37]:
x = df_students.fillna(method= "ffill", axis= 1)

print(x)

# axis 'i değiştirdiğimiz için satırdan kopyalama yapmıyor da sütundan kopyalama yapıyor.
# Hale sütunundan önce sütun olmadığı için onun değerleri NaN olarak kaldı.

             Hale  Ahmet   Fatma
age            25     32      40
department     CE     EE      TT
gender        NaN      M       M
height        161    161     175
surname     Çetin  Çetin  Gülşen
weight        NaN     83      83

In [38]:
x = df_students.fillna(method= "bfill", axis= 1)

print(x)

# method= 'u değiştirip bfill yaparsak bu kezde bir sonraki sütundan kopyalama yapar.
# Fatmadan sonra sütun olmadığı için onun değerleri NaN olarak kalmıştır.

             Hale   Ahmet   Fatma
age            25      32      40
department     CE      EE      TT
gender          M       M     NaN
height        161     175     175
surname     Çetin  Gülşen  Gülşen
weight         83      83     NaN