In [1]:
import pandas as pd

In [2]:
review = pd.read_csv("ReviewContent.csv")

print(review)

# Dataframe dosyamızı pandas sayesinde okuttuk ve yazdırdık.

     Review ID Review Date                                     Review Content  \
0      4055629  2012-10-06  Very nice accommodation in an aesthetically pl...
1     25329416  2013-11-03  Me and my friends had such a nice time at Dott...
2     21705849  2014-11-27  I stayed for 4night.She gave us a lot of snuck...
3     41133812  2012-05-08  The apartment was situated on the first floor ...
4      7465026  2013-08-16  Even though it was only for one night, we had ...
..         ...         ...                                                ...
995   44498863  2012-08-30  I loved staying here during my time in Paris. ...
996   30544438  2013-02-28  Highly recommend this as a place to stay if yo...
997   46642535  2014-08-30  John was a great host.  I came in on a red eye...
998   21403195  2014-12-26  Very good experiance had a comfortable stay. V...
999   38944752  2013-10-15  Thank you for the wonderful stay!   It was a c...

                           Listing Title            Neighbourhood  \
0    Nottinghill Portobello  Artist Flat   Kensington and Chelsea
1     Quiet Pink Studio in the PIJP area  De Pijp - Rivierenbuurt
2    PRIVATE Room in Spacious, Quiet Apt                   Harlem
3         Bonito estudio en pleno centro              Universidad
4          Acropolis Apartment brand new                 ΑΚΡΟΠΟΛΗ
..                                   ...                      ...
995              A typical parisian flat        Buttes-Montmartre
996     The Venice Roost on Abbot Kinney                   Venice
997      Top Floor Renovated 1 BR / 1BA              West Roxbury
998  NR LGA/JFK & City Studio W/Bathroom          Jackson Heights
999            15 Minutes from Manhattan                 Woodside

              City                State          Country        Room Type  \
0           London              England   United Kingdom  Entire home/apt
1        Amsterdam        North Holland  The Netherlands     Private room
2    New York City             New York    United States     Private room
3           Madrid  Comunidad de Madrid            Spain  Entire home/apt
4           Athens               Attica           Greece  Entire home/apt
..             ...                  ...              ...              ...
995          Paris        Île-de-France           France     Private room
996    Los Angeles           California    United States  Entire home/apt
997         Boston        Massachusetts    United States  Entire home/apt
998  New York City             New York    United States     Private room
999  New York City             New York    United States     Private room

     Room Price  Room Availability
0           100                338
1            80                 10
2            57                268
3            38                274
4            62                281
..          ...                ...
995          35                329
996         191                309
997          95                 10
998          75                357
999         110                329

[1000 rows x 11 columns]

In [4]:
print(review["Country"])
print(type(review["Country"]))

# Belirlediğimiz bir sütunu yazdırıyoruz.
# Bu verimizin de tipinin ne olduğu önemlidir. Kullanacağımız metotlar buna göre belirlenir.

0       United Kingdom
1      The Netherlands
2        United States
3                Spain
4               Greece
            ...
995             France
996      United States
997      United States
998      United States
999      United States
Name: Country, Length: 1000, dtype: object
<class 'pandas.core.series.Series'>

In [5]:
# upper(), lower(), title(), len() metotları

print(review["Country"].str.upper())

# Pandasta bu metotlar tek başına kullanılmaz. 
# Bunların başına str özelliği getirilmesi gerekir.
# Bütün verileri büyük harflerle yazdırdık.

0       UNITED KINGDOM
1      THE NETHERLANDS
2        UNITED STATES
3                SPAIN
4               GREECE
            ...
995             FRANCE
996      UNITED STATES
997      UNITED STATES
998      UNITED STATES
999      UNITED STATES
Name: Country, Length: 1000, dtype: object

In [6]:
print(review["Country"].str.lower())

# Bütün verileri küçük harflerle yazdırdık.

0       united kingdom
1      the netherlands
2        united states
3                spain
4               greece
            ...
995             france
996      united states
997      united states
998      united states
999      united states
Name: Country, Length: 1000, dtype: object

In [7]:
print(review["Country"].str.title())

# Bütün verilerin ilk harfini büyük gerisini küçük şekilde yazdırdık.
# Bu hiçbiri kalıcı değildir.

0       United Kingdom
1      The Netherlands
2        United States
3                Spain
4               Greece
            ...
995             France
996      United States
997      United States
998      United States
999      United States
Name: Country, Length: 1000, dtype: object

In [8]:
review["Country"] = review["Country"].str.upper()

print(review)

# Bu şekilde değişiklikleri kalıcı hale getirebiliriz.

     Review ID Review Date                                     Review Content  \
0      4055629  2012-10-06  Very nice accommodation in an aesthetically pl...
1     25329416  2013-11-03  Me and my friends had such a nice time at Dott...
2     21705849  2014-11-27  I stayed for 4night.She gave us a lot of snuck...
3     41133812  2012-05-08  The apartment was situated on the first floor ...
4      7465026  2013-08-16  Even though it was only for one night, we had ...
..         ...         ...                                                ...
995   44498863  2012-08-30  I loved staying here during my time in Paris. ...
996   30544438  2013-02-28  Highly recommend this as a place to stay if yo...
997   46642535  2014-08-30  John was a great host.  I came in on a red eye...
998   21403195  2014-12-26  Very good experiance had a comfortable stay. V...
999   38944752  2013-10-15  Thank you for the wonderful stay!   It was a c...

                           Listing Title            Neighbourhood  \
0    Nottinghill Portobello  Artist Flat   Kensington and Chelsea
1     Quiet Pink Studio in the PIJP area  De Pijp - Rivierenbuurt
2    PRIVATE Room in Spacious, Quiet Apt                   Harlem
3         Bonito estudio en pleno centro              Universidad
4          Acropolis Apartment brand new                 ΑΚΡΟΠΟΛΗ
..                                   ...                      ...
995              A typical parisian flat        Buttes-Montmartre
996     The Venice Roost on Abbot Kinney                   Venice
997      Top Floor Renovated 1 BR / 1BA              West Roxbury
998  NR LGA/JFK & City Studio W/Bathroom          Jackson Heights
999            15 Minutes from Manhattan                 Woodside

              City                State          Country        Room Type  \
0           London              England   UNITED KINGDOM  Entire home/apt
1        Amsterdam        North Holland  THE NETHERLANDS     Private room
2    New York City             New York    UNITED STATES     Private room
3           Madrid  Comunidad de Madrid            SPAIN  Entire home/apt
4           Athens               Attica           GREECE  Entire home/apt
..             ...                  ...              ...              ...
995          Paris        Île-de-France           FRANCE     Private room
996    Los Angeles           California    UNITED STATES  Entire home/apt
997         Boston        Massachusetts    UNITED STATES  Entire home/apt
998  New York City             New York    UNITED STATES     Private room
999  New York City             New York    UNITED STATES     Private room

     Room Price  Room Availability
0           100                338
1            80                 10
2            57                268
3            38                274
4            62                281
..          ...                ...
995          35                329
996         191                309
997          95                 10
998          75                357
999         110                329

[1000 rows x 11 columns]

In [10]:
review = pd.read_csv("ReviewContent.csv")

print(review)

# Dataframe dosyamızı pandas sayesinde okuttuk ve yazdırdık.

     Review ID Review Date                                     Review Content  \
0      4055629  2012-10-06  Very nice accommodation in an aesthetically pl...
1     25329416  2013-11-03  Me and my friends had such a nice time at Dott...
2     21705849  2014-11-27  I stayed for 4night.She gave us a lot of snuck...
3     41133812  2012-05-08  The apartment was situated on the first floor ...
4      7465026  2013-08-16  Even though it was only for one night, we had ...
..         ...         ...                                                ...
995   44498863  2012-08-30  I loved staying here during my time in Paris. ...
996   30544438  2013-02-28  Highly recommend this as a place to stay if yo...
997   46642535  2014-08-30  John was a great host.  I came in on a red eye...
998   21403195  2014-12-26  Very good experiance had a comfortable stay. V...
999   38944752  2013-10-15  Thank you for the wonderful stay!   It was a c...

                           Listing Title            Neighbourhood  \
0    Nottinghill Portobello  Artist Flat   Kensington and Chelsea
1     Quiet Pink Studio in the PIJP area  De Pijp - Rivierenbuurt
2    PRIVATE Room in Spacious, Quiet Apt                   Harlem
3         Bonito estudio en pleno centro              Universidad
4          Acropolis Apartment brand new                 ΑΚΡΟΠΟΛΗ
..                                   ...                      ...
995              A typical parisian flat        Buttes-Montmartre
996     The Venice Roost on Abbot Kinney                   Venice
997      Top Floor Renovated 1 BR / 1BA              West Roxbury
998  NR LGA/JFK & City Studio W/Bathroom          Jackson Heights
999            15 Minutes from Manhattan                 Woodside

              City                State          Country        Room Type  \
0           London              England   United Kingdom  Entire home/apt
1        Amsterdam        North Holland  The Netherlands     Private room
2    New York City             New York    United States     Private room
3           Madrid  Comunidad de Madrid            Spain  Entire home/apt
4           Athens               Attica           Greece  Entire home/apt
..             ...                  ...              ...              ...
995          Paris        Île-de-France           France     Private room
996    Los Angeles           California    United States  Entire home/apt
997         Boston        Massachusetts    United States  Entire home/apt
998  New York City             New York    United States     Private room
999  New York City             New York    United States     Private room

     Room Price  Room Availability
0           100                338
1            80                 10
2            57                268
3            38                274
4            62                281
..          ...                ...
995          35                329
996         191                309
997          95                 10
998          75                357
999         110                329

[1000 rows x 11 columns]

In [11]:
print(len("benim adım sonay"))

# Bildiğiniz gibi uzunluğu bu şekilde ölçebiliyoruz.

16

In [12]:
print(len(review["Country"]))

# Aynı şeyi dataframe üzerinde de kullanabiliriz.
# Bize sütundaki satır sayısını verir.

1000

In [13]:
print(review["Country"].str.len())

# Bu şekilde de her bir satırdaki verilerin uzunluğuna erişebiliyoruz.

0      14
1      15
2      13
3       5
4       6
       ..
995     6
996    13
997    13
998    13
999    13
Name: Country, Length: 1000, dtype: int64

In [14]:
# replace() metodu

print("sonay yazilim".replace("i", "I"))

# Normal string ifadelerde replace kullanımı bu şekilde oluyor.
# Bir karakterin yerine belirlediğimiz başka bir karakteri koyabiliyorduk.

sonay yazIlIm

In [15]:
print(review["Room Type"])

# Room Type satırına eriştik.

0      Entire home/apt
1         Private room
2         Private room
3      Entire home/apt
4      Entire home/apt
            ...
995       Private room
996    Entire home/apt
997    Entire home/apt
998       Private room
999       Private room
Name: Room Type, Length: 1000, dtype: object

In [16]:
print(review["Room Type"].str.replace("room", "Room"))

# Dataframe'de kullanımı da bu şekilde oluyor.
# Aslında kullanımında hiçbir fark yok.
# Sadece başına pandasın str özelliğini getirmemiz gerekiyor.

0      Entire home/apt
1         Private Room
2         Private Room
3      Entire home/apt
4      Entire home/apt
            ...
995       Private Room
996    Entire home/apt
997    Entire home/apt
998       Private Room
999       Private Room
Name: Room Type, Length: 1000, dtype: object

In [17]:
print(review["City"])

# City sütunumuza eriştik.

0             London
1          Amsterdam
2      New York City
3             Madrid
4             Athens
           ...
995            Paris
996      Los Angeles
997           Boston
998    New York City
999    New York City
Name: City, Length: 1000, dtype: object

In [19]:
print(review["City"].str.upper().str.contains("YORK"))

# City sütunumuzdaki elemanların hepsini büyük harf yazdırdık.
# Sonra da YORK olan elemanları aradık.
# Olanları bize True olarak döndürdü.
# contains metodunun ne işe yaradığını anlamışsınızdır.

0      False
1      False
2       True
3      False
4      False
       ...
995    False
996    False
997    False
998     True
999     True
Name: City, Length: 1000, dtype: bool

In [20]:
mask = (review["City"].str.upper().str.contains("YORK"))

print(review[mask])

# mask değerine atayarak bu işlemleri True False değeri değilde direkt satırın orjinal halini yazdırabiliriz.
# False olan değerler ekrana yazdırılmaz.

     Review ID Review Date                                     Review Content  \
2     21705849  2014-11-27  I stayed for 4night.She gave us a lot of snuck...
14    12792771  2013-08-22  Usman is a great host, the apartment is as des...
18     9329281  2013-12-03  This is not our first time to NYC, but this is...
25    22419996  2014-11-17  Apartment was clean and as described. Bed was ...
34    42823968  2013-04-25  We stayed at Tim’s and Ellen’s beautiful apart...
..         ...         ...                                                ...
956    7940278  2014-10-17  Scott's apartment is such a havon in the bustl...
974   37762569  2013-12-30  Susanne provides a comfortable room in a spaci...
983    2018617  2013-12-22  Ysaira and Jose are the sweetest people. They ...
998   21403195  2014-12-26  Very good experiance had a comfortable stay. V...
999   38944752  2013-10-15  Thank you for the wonderful stay!   It was a c...

                           Listing Title     Neighbourhood           City  \
2    PRIVATE Room in Spacious, Quiet Apt            Harlem  New York City
14     Massive Apartment in West Village      West Village  New York City
18    FANTASTIC TIMES SQUARE ONE BEDROOM  Theater District  New York City
25     Charming, Exposed Brick SoHo Loft            Nolita  New York City
34       Grand Brownstone Owner's Duplex      Clinton Hill  New York City
..                                   ...               ...            ...
956   1BR, 1BTH Duplex W/ LRG OUTD SPACE          Kips Bay  New York City
974          Sunny Space in Williamsburg      Williamsburg  New York City
983     Bronx Room Near Yankees & Harlem    Morris Heights  New York City
998  NR LGA/JFK & City Studio W/Bathroom   Jackson Heights  New York City
999            15 Minutes from Manhattan          Woodside  New York City

        State        Country        Room Type  Room Price  Room Availability
2    New York  United States     Private room          57                268
14   New York  United States  Entire home/apt         600                334
18   New York  United States  Entire home/apt         260                291
25   New York  United States  Entire home/apt         199                313
34   New York  United States  Entire home/apt         195                249
..        ...            ...              ...         ...                ...
956  New York  United States  Entire home/apt         250                312
974  New York  United States     Private room         100                278
983  New York  United States     Private room          40                302
998  New York  United States     Private room          75                357
999  New York  United States     Private room         110                329

[135 rows x 11 columns]

In [21]:
mask = (review["City"].str.upper().str.startswith("LOS"))

print(review[mask])

# Pythonda da aynı metot bulunuyor.
# LOS ile başlayan verilerimizin yazdırılmasını istedik.

     Review ID Review Date                                     Review Content  \
17     7568387  2013-02-01  Kristina and Ekaterine were lovley hosts. They...
22    33973256  2013-03-30  Pros: Parking inside property. Convenient Loca...
35    43930287  2012-03-31  Wilson’s apartment is great – one of the nices...
36    35333712  2012-07-27  Aj is really nice , and kind guy.. It was good...
56    34209660  2014-12-12  Bir was a great host... left everything that w...
..         ...         ...                                                ...
928   38052964  2012-10-18  so, this is what it says in the listing: 'We h...
940   37536009  2014-09-23  Kathryn was a lovely host, and she answered al...
976   22716033  2012-12-23  Natalie was a pleasant and great host. I could...
978   29660564  2013-03-22  Jess was easily the best host we had during ou...
996   30544438  2013-02-28  Highly recommend this as a place to stay if yo...

                           Listing Title    Neighbourhood         City  \
17   Hollywood Furnished Private Bedroom        Hollywood  Los Angeles
22        Private room4 historical house  Harvard Heights  Los Angeles
35   Corner Loft Amazing Views! Downtown         Downtown  Los Angeles
36               Modern & Comfy in LA!!!     Mid-Wilshire  Los Angeles
56   Sweet Apartment in ❤Heart❤ of WeHo!   West Hollywood  Los Angeles
..                                   ...              ...          ...
928   Serene Garden Room by the Beach!!!     Santa Monica  Los Angeles
940    stay in the heart of santa monica     Santa Monica  Los Angeles
976  Eagle Rock home- great neighborhood       Eagle Rock  Los Angeles
978  CHARMING IN HEART OF WEST HOLLYWOOD    Beverly Grove  Los Angeles
996     The Venice Roost on Abbot Kinney           Venice  Los Angeles

          State        Country        Room Type  Room Price  Room Availability
17   California  United States     Private room          99                244
22   California  United States     Private room          46                357
35   California  United States  Entire home/apt         130                179
36   California  United States     Private room          94                254
56   California  United States  Entire home/apt         139                 85
..          ...            ...              ...         ...                ...
928  California  United States     Private room          80                 82
940  California  United States     Private room          89                361
976  California  United States  Entire home/apt         105                296
978  California  United States  Entire home/apt         125                303
996  California  United States  Entire home/apt         191                309

[68 rows x 11 columns]

In [22]:
mask = (review["City"].str.upper().str.endswith("LOS"))

print(review[mask])

# Aynısının baştan aramasını değilde sondan aramasını da yapabiliriz.
# LOS ile biten şehir olmadığı için boş bir dataframe ile sonucumuzu almış olduk.

Empty DataFrame
Columns: [Review ID, Review Date, Review Content, Listing Title, Neighbourhood, City, State, Country, Room Type, Room Price, Room Availability]
Index: []

In [23]:
mask = (review["City"].str.upper().str.endswith("DON"))

print(review[mask])

# Bu da başka bir örnek.

     Review ID Review Date                                     Review Content  \
0      4055629  2012-10-06  Very nice accommodation in an aesthetically pl...
7     10787310  2013-06-02  Carolines room is perfectly located to discove...
10    24326991  2014-10-19  Many thanks Annabel, our stay was perfect! We ...
20    38360407  2013-12-31  Nice contact. Very friendly and supportive. Th...
27    37847700  2014-02-02  Wannie was very accommodating and allowed us t...
..         ...         ...                                                ...
943   30716660  2013-04-21  The flat was very clean and centrally located....
963   37527770  2012-08-16  Karen was a great host! She was extremely frie...
966   11444280  2013-04-01  You couldn't ask for friendlier hosts! I had a...
967   31488970  2014-10-18  Serena was very welcoming and the place was qu...
971   21709517  2013-07-03  Anders is a great host. The flat is exactly as...

                           Listing Title           Neighbourhood    City  \
0    Nottinghill Portobello  Artist Flat  Kensington and Chelsea  London
7          Private room - Central London             Westminster  London
10       Light 2 bedroom in Notting Hill  Kensington and Chelsea  London
20   Curved wall Studio ST4 with Kitchen           Tower Hamlets  London
27   Prime location near BigBen Victoria             Westminster  London
..                                   ...                     ...     ...
943     "Paige" apartment, 2B, free wifi           Tower Hamlets  London
963          Homely Triple Room London 3                 Lambeth  London
966  On Offer!! Camden Town / St Pancras                  Camden  London
967   Hackney / Dalston / London Fields                  Hackney  London
971  East London/Shoreditch-Superb 2 bed                 Hackney  London

       State         Country        Room Type  Room Price  Room Availability
0    England  United Kingdom  Entire home/apt         100                338
7    England  United Kingdom     Private room          60                351
10   England  United Kingdom  Entire home/apt         140                151
20   England  United Kingdom  Entire home/apt          85                344
27   England  United Kingdom  Entire home/apt         129                279
..       ...             ...              ...         ...                ...
943  England  United Kingdom  Entire home/apt         350                345
963  England  United Kingdom     Private room          27                362
966  England  United Kingdom     Private room          49                128
967  England  United Kingdom     Private room          39                365
971  England  United Kingdom  Entire home/apt         165                301

[104 rows x 11 columns]

In [24]:
print(review["City"])

# City sütunumuza eriştik.

0             London
1          Amsterdam
2      New York City
3             Madrid
4             Athens
           ...
995            Paris
996      Los Angeles
997           Boston
998    New York City
999    New York City
Name: City, Length: 1000, dtype: object

In [25]:
print(review["City"].str.strip())

# Yine pythonda olan bir metot.
# Verimizin başında veya sonunda boşluk varsa onlardan kurtularak yazdırır.

0             London
1          Amsterdam
2      New York City
3             Madrid
4             Athens
           ...
995            Paris
996      Los Angeles
997           Boston
998    New York City
999    New York City
Name: City, Length: 1000, dtype: object

In [26]:
print("        ben sonay          ".strip())

# Bu şekilde yaptığı işlemi daha iyi görebilirsiniz.

ben sonay

In [27]:
# strip metodunun lstrip veya rstrip gibi iki farklı hali de vardır.
# lstripte sol taraftaki boşluklardan
# rstripte sağ taraftaki boşluklardan kurtulabiliriz.
# Bunlar için ayrı örnek yazmıyorum. 
# Gayet iyi anlaşılmıştır umarım.

In [28]:
print("benim adım sonay".split(" "))

# Pythonda olan bir metot daha split ayırma işlemi yapan bir metot.
# " " yani boşluk karakterinden ayrılmasını istedik ve bize liste olarak bunların ayrılmış halini verdi.

['benim', 'adım', 'sonay']

In [29]:
print("benim-adım-sonay".split("-"))

# Boşlukta belki anlamamışsınızdır.
# Buradan yaptığı işlemi daha iyi anlarsınız.

['benim', 'adım', 'sonay']

In [30]:
print(review["City"].str.split(" "))

# Aynı işlemi str özelliğini kullanarak pandasta da kullanabiliriz.
# Örneğin New York City şehrini boşluklardan böldü ve liste haline getirdi.

0               [London]
1            [Amsterdam]
2      [New, York, City]
3               [Madrid]
4               [Athens]
             ...
995              [Paris]
996       [Los, Angeles]
997             [Boston]
998    [New, York, City]
999    [New, York, City]
Name: City, Length: 1000, dtype: object

In [31]:
print(review["City"].str.split(" ").str.get(0))

# get metoduyla da 0'ıncı indexteki elemanları alabiliriz.
# split metoduyla gayet iyi giden bir metottur.

0         London
1      Amsterdam
2            New
3         Madrid
4         Athens
         ...
995        Paris
996          Los
997       Boston
998          New
999          New
Name: City, Length: 1000, dtype: object

In [32]:
print(review["City"].str.split(" ", expand= True))

# Eğer split metodunun bize liste olarak değilde dataframe olarak döndürmesini istersek
# expand parametresi ekleyip True değeri verirsek
# İstediğimiz gibi bir dataframe olarak sonuç alırız.

             0        1     2
0       London     None  None
1    Amsterdam     None  None
2          New     York  City
3       Madrid     None  None
4       Athens     None  None
..         ...      ...   ...
995      Paris     None  None
996        Los  Angeles  None
997     Boston     None  None
998        New     York  City
999        New     York  City

[1000 rows x 3 columns]