In [1]:
import pandas as pd

In [2]:
student = pd.Series(data= ["Arin", "Software", 23, "CE"], index= ["name", "surname", "age", "department"])

print(student)

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [3]:
student = pd.Series(["Arin", "Software", 23, "CE"], ["name", "surname", "age", "department"])

print(student)

# data veya index'i yazmadan da Series oluşturabiliyoruz. İlk listemiz data, son listemiz index otomatik olarak sayılıyor.

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [4]:
print(student["name"])

# index yardımıyla dataya ulaşabiliyoruz.

Arin

In [5]:
print(student["name", "age"])

# Birden fazla index girdiğimizde hata alıyoruz. Bu hatayı gidermenin bir yolu var elbette.

KeyError: 'key of type tuple not found and not a MultiIndex'

In [6]:
print(student[["name", "age"]])

# Hatayı gidermenin yolu liste içinde bir liste daha oluşturmaktır.

name    Arin
age       23
dtype: object

In [7]:
print(type(student[["name", "age"]]))

# Böyle bir çıktı aldığımızda da yapısında bir değişme olmaz. Hala Series yapısındadır.

<class 'pandas.core.series.Series'>

In [8]:
print(student[0])

# İndex adıyla değilde index numarasıyla da dataya ulaşabiliriz.

Arin

In [10]:
print(student[1])

# Bir başka örnekle de bunu görebiliyoruz.
# İndex numarasını değiştirmiştik ama bu datayı çekebilmemizi engellemedi.

Software

In [11]:
print(student[[0,2]])

# Bunda da birden fazla datayı aynı anda almayı istediğimizde iç içe listeler kullanıyoruz.

name    Arin
age       23
dtype: object

In [12]:
print(student[0:3])

# Numpy veya pythonda olduğu gibi pandasta da slicing işlemiyle datalara ulaşılabilir.

name           Arin
surname    Software
age              23
dtype: object

In [15]:
print(student[0:4])

# Bir başka örnek.

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [13]:
print(student[-2])

# Negatif değerlerle de datalara ulaşabiliriz.

23

In [16]:
print(student[:])

# Başlangıç ve bitiş değeri kullanmayarakta bütün verileri yazdırabiliriz.

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [17]:
print(student[-2:])

# Negatif değerlerle de slicing mümkündür.

age           23
department    CE
dtype: object

In [19]:
print(student["name":"department"])

# Slicing işlemi index numaraları yerine index isimleriyle de yapılabilir.
# Ancak burada bir fark vardır.
# İndex numarasıyla yazdığımızda bitiş noktasını yazdırmaya dahil etmez.
# Bunda gördüğünüz gibi "department" ı da yani bitiş noktasını da yazdırmaya dahil etti.

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [20]:
# loc -> location, iloc -> index location

print(student.loc["department"])

# loc metoduna bir örnektir.
# index'i yazarak dataya ulaşmayı başardık.

CE

In [22]:
print(student.iloc[1])

# iloc metoduna bir örnektir.
# index numarasını yazarak dataya ulaşmayı başardık.

Software

In [23]:
print(student.iloc["surname"])

# iloc metodunda sadece index numarası girilmesi gerekir.
# Aksi takdirde bu şekilde hata alırız.
# Aynısı loc içinde geçerlidir. Onda da sadece index ismi girilmesi gerekir.
# İndex numarası girildiği takdirde yine hata alırız.

TypeError: Cannot index by location index with a non-integer key

In [24]:
print(student)

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [25]:
student["name"] = "Elis"

print(student)

# Series'lerde değişiklik yapmakta mümkün gördüğünüz gibi.

name              Elis
surname       Software
age                 23
department          CE
dtype: object

In [26]:
student.iloc[2] = 15

print(student)

# iloc ve loc ile de bu değişimleri yapabiliyoruz.

name              Elis
surname       Software
age                 15
department          CE
dtype: object

In [27]:
print(student)

name              Elis
surname       Software
age                 15
department          CE
dtype: object

In [28]:
student.drop("name")

print(student)

# drop metoduyla aslında "name" i sildik.
# Ancak drop metodu geçici değişiklik yapar. Yani orjinal Series değişmemiş oldu ve aynı çıktıyı aldık.

name              Elis
surname       Software
age                 15
department          CE
dtype: object

In [29]:
student2 = student.drop("name")

print(student2)

# Eğer bu şekilde drop metodunu kullandıktan sonra ona farklı bir Series ataması yaparsak
# ve bunu yazdırırsak drop metodunun çalıştığını görebiliriz.

surname       Software
age                 15
department          CE
dtype: object

In [30]:
student.drop("name", inplace= True)

print(student)

# Ana Series'te silme işlemi yapmak istersek drop için ikinci bir parametre olan inplace parametresini True
# olarak tanımlayarak ana Series'te de silme işlemi yapabiliriz.

surname       Software
age                 15
department          CE
dtype: object

In [31]:
student = pd.Series(["Arin", "Software", 23, "CE"], ["name", "surname", "age", "department"])

print(student)

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [32]:
print(len(student))

# Series'imizin uzunluğuna bakabiliriz.

4

In [33]:
print(list(student))

# Series'imizi listeye çevirebiliriz.

['Arin', 'Software', 23, 'CE']

In [34]:
print(dict(student))

# Series'imizi dictionarye de çevirebiliriz.

{'name': 'Arin', 'surname': 'Software', 'age': 23, 'department': 'CE'}

In [35]:
print(sorted(student))

# Sıralamayı yapamadı çünkü ifadelerimiz içinde hem str hem int ifadeler mevcut.

TypeError: '<' not supported between instances of 'int' and 'str'

In [36]:
student = pd.Series(["Arin", "Software", "CE"], ["name", "surname", "department"])

print(student)

name              Arin
surname       Software
department          CE
dtype: object

In [37]:
print(sorted(student))

# Series'imiz kendi içinde sıralanabilir ifadelerden oluşuyorsa bu sıralamayı düzgün bir şekilde gerçekleştirir.

['Arin', 'CE', 'Software']

In [38]:
print(max(student))

# Max normalde en yüksek değeri yazdırması gerekir. str ifadelerde ise alfabe de en sona denk geleni yazdırır.

Software

In [39]:
print(min(student))

# Min normalde en düşük değeri yazdırması gerekir. str ifadelerde ise alfabe de en başa denk geleni yazdırır.

Arin