In [1]:
import pandas as pd

In [9]:
review = pd.read_csv("ReviewContent.csv")

print(review)

# csv dosyamızı pandas metodu olan read_csv ile python içine aktardık.

     Review ID Review Date                                     Review Content  \
0      4055629  2012-10-06  Very nice accommodation in an aesthetically pl...
1     25329416  2013-11-03  Me and my friends had such a nice time at Dott...
2     21705849  2014-11-27  I stayed for 4night.She gave us a lot of snuck...
3     41133812  2012-05-08  The apartment was situated on the first floor ...
4      7465026  2013-08-16  Even though it was only for one night, we had ...
..         ...         ...                                                ...
995   44498863  2012-08-30  I loved staying here during my time in Paris. ...
996   30544438  2013-02-28  Highly recommend this as a place to stay if yo...
997   46642535  2014-08-30  John was a great host.  I came in on a red eye...
998   21403195  2014-12-26  Very good experiance had a comfortable stay. V...
999   38944752  2013-10-15  Thank you for the wonderful stay!   It was a c...

                           Listing Title            Neighbourhood  \
0    Nottinghill Portobello  Artist Flat   Kensington and Chelsea
1     Quiet Pink Studio in the PIJP area  De Pijp - Rivierenbuurt
2    PRIVATE Room in Spacious, Quiet Apt                   Harlem
3         Bonito estudio en pleno centro              Universidad
4          Acropolis Apartment brand new                 ΑΚΡΟΠΟΛΗ
..                                   ...                      ...
995              A typical parisian flat        Buttes-Montmartre
996     The Venice Roost on Abbot Kinney                   Venice
997      Top Floor Renovated 1 BR / 1BA              West Roxbury
998  NR LGA/JFK & City Studio W/Bathroom          Jackson Heights
999            15 Minutes from Manhattan                 Woodside

              City                State          Country        Room Type  \
0           London              England   United Kingdom  Entire home/apt
1        Amsterdam        North Holland  The Netherlands     Private room
2    New York City             New York    United States     Private room
3           Madrid  Comunidad de Madrid            Spain  Entire home/apt
4           Athens               Attica           Greece  Entire home/apt
..             ...                  ...              ...              ...
995          Paris        Île-de-France           France     Private room
996    Los Angeles           California    United States  Entire home/apt
997         Boston        Massachusetts    United States  Entire home/apt
998  New York City             New York    United States     Private room
999  New York City             New York    United States     Private room

     Room Price  Room Availability
0           100                338
1            80                 10
2            57                268
3            38                274
4            62                281
..          ...                ...
995          35                329
996         191                309
997          95                 10
998          75                357
999         110                329

[1000 rows x 11 columns]

In [3]:
print(type(review))

# Tabi ki birden fazla sütunlu ve boyutlu olduğu için bu bir dataframe 'dir.

<class 'pandas.core.frame.DataFrame'>

In [10]:
print(review.info())

# Bize review 'de bulunan sütunları, o sütunlarda kaç veri olduğunu ve sütunlardaki verilerin hangi veri tipinde
# olduğu bilgilerini bize veriyor.
# Saydıklarımın yanında da bir sürü veri verdiğini görebilirsiniz.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Review ID          1000 non-null   int64
 1   Review Date        1000 non-null   object
 2   Review Content     1000 non-null   object
 3   Listing Title      1000 non-null   object
 4   Neighbourhood      1000 non-null   object
 5   City               1000 non-null   object
 6   State              1000 non-null   object
 7   Country            1000 non-null   object
 8   Room Type          1000 non-null   object
 9   Room Price         1000 non-null   int64
 10  Room Availability  1000 non-null   int64
dtypes: int64(3), object(8)
memory usage: 86.1+ KB
None

In [11]:
print(review.head())

# review 'deki ilk beş değeri bize yazdırdı.

   Review ID Review Date                                     Review Content  \
0    4055629  2012-10-06  Very nice accommodation in an aesthetically pl...
1   25329416  2013-11-03  Me and my friends had such a nice time at Dott...
2   21705849  2014-11-27  I stayed for 4night.She gave us a lot of snuck...
3   41133812  2012-05-08  The apartment was situated on the first floor ...
4    7465026  2013-08-16  Even though it was only for one night, we had ...

                         Listing Title            Neighbourhood  \
0  Nottinghill Portobello  Artist Flat   Kensington and Chelsea
1   Quiet Pink Studio in the PIJP area  De Pijp - Rivierenbuurt
2  PRIVATE Room in Spacious, Quiet Apt                   Harlem
3       Bonito estudio en pleno centro              Universidad
4        Acropolis Apartment brand new                 ΑΚΡΟΠΟΛΗ

            City                State          Country        Room Type  \
0         London              England   United Kingdom  Entire home/apt
1      Amsterdam        North Holland  The Netherlands     Private room
2  New York City             New York    United States     Private room
3         Madrid  Comunidad de Madrid            Spain  Entire home/apt
4         Athens               Attica           Greece  Entire home/apt

   Room Price  Room Availability
0         100                338
1          80                 10
2          57                268
3          38                274
4          62                281

In [12]:
print(review.tail())

# review 'deki son beş değeri bize yazdırdı.

     Review ID Review Date                                     Review Content  \
995   44498863  2012-08-30  I loved staying here during my time in Paris. ...
996   30544438  2013-02-28  Highly recommend this as a place to stay if yo...
997   46642535  2014-08-30  John was a great host.  I came in on a red eye...
998   21403195  2014-12-26  Very good experiance had a comfortable stay. V...
999   38944752  2013-10-15  Thank you for the wonderful stay!   It was a c...

                           Listing Title      Neighbourhood           City  \
995              A typical parisian flat  Buttes-Montmartre          Paris
996     The Venice Roost on Abbot Kinney             Venice    Los Angeles
997      Top Floor Renovated 1 BR / 1BA        West Roxbury         Boston
998  NR LGA/JFK & City Studio W/Bathroom    Jackson Heights  New York City
999            15 Minutes from Manhattan           Woodside  New York City

             State        Country        Room Type  Room Price  \
995  Île-de-France         France     Private room          35
996     California  United States  Entire home/apt         191
997  Massachusetts  United States  Entire home/apt          95
998       New York  United States     Private room          75
999       New York  United States     Private room         110

     Room Availability
995                329
996                309
997                 10
998                357
999                329

In [13]:
print(review.dtypes)

# Bize sütunların data tiplerini gösterir.

Review ID             int64
Review Date          object
Review Content       object
Listing Title        object
Neighbourhood        object
City                 object
State                object
Country              object
Room Type            object
Room Price            int64
Room Availability     int64
dtype: object

In [14]:
print(review.ndim)

# review dataframe 'inin boyutunu gösterir.

2

In [15]:
print(review.columns)

# Sütunların hepsini bir liste içerisinde bize yazdırıyor.
# Bu colums özelliği sadece dataframe 'lerde bulunuyor.
# Serieslerde kullanamazsınız.

Index(['Review ID', 'Review Date', 'Review Content', 'Listing Title',
       'Neighbourhood', 'City', 'State', 'Country', 'Room Type', 'Room Price',
       'Room Availability'],
      dtype='object')

In [16]:
print(review.memory_usage())

# Bu metotla bize her sütunda kullanılan hafıza miktarını gösterir.

Index                 128
Review ID            8000
Review Date          8000
Review Content       8000
Listing Title        8000
Neighbourhood        8000
City                 8000
State                8000
Country              8000
Room Type            8000
Room Price           8000
Room Availability    8000
dtype: int64

In [19]:
print(review["Room Price"].sum())

# Roam Price sütunundaki bütün değerlerin toplamını aldık.

118048

In [26]:
print(review.sum())

# Tüm değerleri topladık.
# Ancak görmüş olduğunuz gibi object yani str olan verilerde istenilen sonucun çok dışındayız.

Review ID                                                  23758497050
Review Date          2012-10-062013-11-032014-11-272012-05-082013-0...
Review Content       Very nice accommodation in an aesthetically pl...
Listing Title        Nottinghill Portobello  Artist FlatQuiet Pink ...
Neighbourhood        Kensington and ChelseaDe Pijp - RivierenbuurtH...
City                 LondonAmsterdamNew York CityMadridAthensPortla...
State                EnglandNorth HollandNew YorkComunidad de Madri...
Country              United KingdomThe NetherlandsUnited StatesSpai...
Room Type            Entire home/aptPrivate roomPrivate roomEntire ...
Room Price                                                      118048
Room Availability                                               253651
dtype: object

In [28]:
print(review["Room Availability"])
print(type(review["Room Availability"]))

# Room Availability adlı sütunumuzdaki verilere ulaştık.
# Tabi ki tek sütunu yazdırdığımız için tipi Series olarak gösteriliyor.

0      338
1       10
2      268
3      274
4      281
      ...
995    329
996    309
997     10
998    357
999    329
Name: Room Availability, Length: 1000, dtype: int64
<class 'pandas.core.series.Series'>

In [30]:
print(review["Room Availability"].add(10))

# Orjinal haliyle bu halini karşılaştırırsanız add metodunun sütundaki her veriye biz 10 yazdığımız için
# 10 eklediğini görebiliriz.

0      348
1       20
2      278
3      284
4      291
      ...
995    339
996    319
997     20
998    367
999    339
Name: Room Availability, Length: 1000, dtype: int64

In [31]:
print(review["Room Availability"] + 10)

# Bu şekilde de aynı ekleme işlemini yapabiliriz.
# Ancak bu yöntemi sadece Series 'te kullanabiliriz.

0      348
1       20
2      278
3      284
4      291
      ...
995    339
996    319
997     20
998    367
999    339
Name: Room Availability, Length: 1000, dtype: int64

In [32]:
print(review["City"])

# City sütununu yazdırdık.
# Gördüğünüz gibi aynı şehirlerden birden fazla var.

0             London
1          Amsterdam
2      New York City
3             Madrid
4             Athens
           ...
995            Paris
996      Los Angeles
997           Boston
998    New York City
999    New York City
Name: City, Length: 1000, dtype: object

In [33]:
# value_counts() metodu

print(review["City"].value_counts())

# value_counts() metodunu kullanarak verilerimiz içinde hangi verilerin ne kadar tekrar ettiğini görebiliyoruz.
# Örneğim New York City 135 kere City sütunundaki verilerimizin içinde bulunmuş.

New York City    135
London           104
Paris            101
Los Angeles       68
Barcelona         61
San Francisco     59
Berlin            56
Amsterdam         45
Sydney            33
Madrid            28
Portland          28
Montreal          27
Brussels          23
Toronto           23
Seattle           23
New Orleans       22
Austin            22
Chicago           21
Venice            21
Boston            21
Washington        18
Vienna            14
Melbourne         14
Nashville         13
Athens            10
Antwerp            5
Oakland            5
Name: City, dtype: int64

In [34]:
print(review["Room Type"].value_counts())

# Bu da başka bir sütunun örneği.

Entire home/apt    648
Private room       340
Shared room         12
Name: Room Type, dtype: int64

In [35]:
print(review["Room Price"].value_counts())

# Bu da başka bir sütunun örneği.

80     32
120    31
75     27
95     27
55     26
       ..
360     1
775     1
500     1
265     1
191     1
Name: Room Price, Length: 180, dtype: int64

In [36]:
print(review["Room Price"].value_counts().head())

# head metoduyla ilk beş veriyi yazdırabiliriz.
# Ama benim istediğim en yüksek ücretli 5 odadan kaç tane olduğunu yazdırmak.

80     32
120    31
75     27
95     27
55     26
Name: Room Price, dtype: int64

In [40]:
print(review["Room Price"].sort_values(ascending= False))

# sort_values ile sıralama yapabiliyoruz.
# Ancak bu metodun ön tanımlı değeri olduğu için küçükten büyüğe sıralıyor.
# Biz en büyükleri görmek istediğimiz için ascending parametresini False değeri vererek.
# Bu ön tanımlı küçükten büyüğe sıralama olayını reverse etmiş oluyoruz.

799    1500
489     800
518     775
613     725
555     650
       ...
576      22
452      19
306      19
718      16
740      16
Name: Room Price, Length: 1000, dtype: int64