In [1]:
import pandas as pd

student = ["Arin", 23, "CE"]

print(student)

['Arin', 23, 'CE']

In [3]:
print(type(student))

<class 'list'>

In [5]:
ps_student = pd.Series(student)

print(ps_student)
print(type(ps_student))

# Pandasın Series metoduyla bir pandas serisi oluşturmayı başardık. Tek sütunlu bir pandas nesnesi oluşturduk.
# 2 sütun olarak görebilirsiniz. Ancak 0, 1, 2 olarak görünen aslında index numarasıdır.

0    Arin
1      23
2      CE
dtype: object
<class 'pandas.core.series.Series'>

In [6]:
student = {
    "name": "Arin",
    "age": 23,
    "department": "CE"
}

print(student)
print(type(student))

# Bu sefer liste yerine bir dictionary tanımladık. Bakalım dictionary nasıl pandas seriese çevriliyor.

{'name': 'Arin', 'age': 23, 'department': 'CE'}
<class 'dict'>

In [7]:
ps_student = pd.Series(student)

print(ps_student)
print(type(ps_student))

# Dictionaryi pandas seriese çevirdiğimizde daha önce gördüğümüz index numaraları yerine 
# dictionaryide belirttiğimiz key değerleri yazıldı.

name          Arin
age             23
department      CE
dtype: object
<class 'pandas.core.series.Series'>

In [8]:
student = pd.Series(["Arin", 23, "CE"])

print(student)
print(type(student))

# Bu şekilde de listeyi tanımlarken onun bir pandas series olduğunu belirtebiliriz.

0    Arin
1      23
2      CE
dtype: object
<class 'pandas.core.series.Series'>

In [9]:
numbers = pd.Series([24, 37, 43])

print(numbers)
print(type(numbers))

# Çıktıda aldığımız dtype'ın değiştiğini görebiliyoruz.
# Series'in içindeki bütün değerler tam sayı olduğu için int64 olarak dtype yazdırıldı.

0    24
1    37
2    43
dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
booleans = pd.Series([True, False, True])

print(booleans)
print(type(booleans))

# Boolean değerlerden oluşturduğumuzda bunun dtype'ı da bool olarak yazdırılıyor.

0     True
1    False
2     True
dtype: bool
<class 'pandas.core.series.Series'>

In [11]:
student = pd.Series(data= ["Arin", 23, "CE"], index= ["name", "age", "department"])

print(student)
print(type(student))

# Dictionary'de yaptığımız gibi bu şekilde de indexlerimizi değiştirebiliyoruz.

name          Arin
age             23
department      CE
dtype: object
<class 'pandas.core.series.Series'>

In [13]:
print(student.values)

# values'i ayrı olarak yazdırabiliyoruz.

['Arin' 23 'CE']

In [14]:
print(student.index)

# index'i ayrı olarak yazdırabiliyoruz.

Index(['name', 'age', 'department'], dtype='object')

In [15]:
print(student.shape)

# Series'ler aynı zamanda tek boyutlu matrislerdir.
# Shape komutuyla da bu kaç satır ve sütundan oluştuğunu öğrenebiliyoruz.
# Ancak tek boyutlu olduğu için tek sütundan oluşuyor ve sütun kısmında bir çıktı alamıyoruz.
# Bu sayede kaç satırlık bir Series olduğunu öğrenebiliriz.

(3,)

In [16]:
print(student.ndim)

# Series'lerin tek boyutlu olduğundan bahsetmiştik. ndim komutu da bize bunu geri döndürüyor.

1

In [17]:
print(student.size)

# Series'in size'ını da öğrenebiliriz. 3 satırlı veya elemanlı olduğunu zaten biliyoruz.

3

In [18]:
print(student.name)

# None değeri alarak Series'imize bir isim vermediğimizi görebiliyoruz.

None

In [19]:
print(student.dtype)

# Series'imiz str ifadeler içerdiği için bize object olarak geri döndürüldü.

object

In [20]:
student.name = "Maradona"

print(student.name)

# Series'imize isim atadık ve ismini sorduğumuzda bizim atadığımız isim yazdırıldı.

Maradona

In [21]:
X = "name" in student

print(X)

# student'ın içinde "name" var mı diye sorduk. Bulunduğu için bize True değerini yazdırdı.

True

In [22]:
Y = "job" in student

print(Y)

# student'ın içinde "job" var mı diye sorduk. Bulunmadığı için bize False değerini yazdırdı.

False

In [23]:
x = "Ahmet" in student.values

print(x)

# Series'in value değerlerinde bir arama yapacağımız zaman bunu belirtmemiz gerekiyor.
# Aksi takdirde sadece index değerlerini kontrol eder.
# "Ahmet" değeri olmadığı için False çıktısı aldık.

False

In [24]:
y = "Arin" in student.values

print(y)

# "Arin" değeri olduğu için True çıktısı aldık.

True

In [25]:
y = "Arin" in student

print(y)

# Eğer dediğim gibi value'de arama yapacağımızda bunu belirtmezsek sadece index'e bakar.
# İndex değerlerinde "Arin" olmadığı için False çıktısı yazdırıldı.

False

In [26]:
numbers = pd.Series([4, 2.5, 2])

print(numbers)

# Series'imizin içinde float bulunduğu için dtype'ının ne çıktısı verdiğini görebiliyorsunuz.

0    4.0
1    2.5
2    2.0
dtype: float64

In [27]:
print(numbers.sum())

# sum metoduyla hepsinin toplamını alabiliriz.

8.5

In [28]:
print(numbers.mean())

# mean metoduyla hepsinin ortalamasını alabiliriz.

2.8333333333333335

In [29]:
print(numbers.product())

# product metoduyla hepsinin çarpımını alabiliriz.

20.0