In [1]:
import pandas as pd

In [4]:
students = {"Hale" : pd.Series(data= [25, "F", "CE", 61], index= ["age", "gender", "department", "weight"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "M", "TT", 55], index= ["age", "gender", "department", "weight"])
}

df_students = pd.DataFrame(students)

print(df_students)

# Dictionaryden bir dataframe oluşturduk.

           Hale Ahmet Fatma
age          25    32    40
gender        F     M     M
department   CE    EE    TT
weight       61    83    55

In [6]:
df_students_2 = pd.DataFrame(students, columns= ["Hale"])

print(df_students_2)

# columns parametresiyle istediğimiz sütuna ulabiliyoruz.

           Hale
age          25
gender        F
department   CE
weight       61

In [7]:
df_students_2 = pd.DataFrame(students, columns= ["Hale", "Ahmet"])

print(df_students_2)

# Birden fazla sütuna ulaşmaya çalışırsak sadece virgülle ayırıp yazmamız yeterli oluyor.

           Hale Ahmet
age          25    32
gender        F     M
department   CE    EE
weight       61    83

In [8]:
df_students_3 = pd.DataFrame(students, index= ["age", "gender"])

print(df_students_3)

# Satırlara ulaşmak içinde columns parametresi yerine index parametresini kullanıyoruz.

       Hale Ahmet Fatma
age      25    32    40
gender    F     M     M

In [9]:
df_students_4 = pd.DataFrame(students, columns= ["Hale", "Ahmet"], index= ["department", "weight"])

print(df_students_4)

# columns ve index parametrelerini beraber kullanarakta spesifik olarak datalara ulaşabiliriz.

           Hale Ahmet
department   CE    EE
weight       61    83

In [10]:
students = {"Hale" : pd.Series(data= [25, "F", "CE", 61], index= ["age", "gender", "department", "weight"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "M", "TT", 55], index= ["age", "gender", "department", "weight"])
}

df_students = pd.DataFrame(students)

print(df_students)

# Dictionaryden bir dataframe oluşturduk.

           Hale Ahmet Fatma
age          25    32    40
gender        F     M     M
department   CE    EE    TT
weight       61    83    55

In [12]:
print(df_students["Ahmet"])
print(type(df_students["Ahmet"]))

# Tanımlanmış bir dataframeden de bu şekilde sütunları gösterebiliriz.
# Ve bu artık bir dataframe değil Series'tir. Çünkü tek sütunlu ve tek boyutludur.

age           32
gender         M
department    EE
weight        83
Name: Ahmet, dtype: object
<class 'pandas.core.series.Series'>

In [13]:
print(df_students[["Ahmet"]])
print(type(df_students[["Ahmet"]]))

# Ancak "Ahmet" parametremizi tekrar bir liste içine alırsak yani onun 2 boyutlu olduğunu gösterirsek
# Aldığımız çıktımız bize dataframe olarak geri döner.

           Ahmet
age           32
gender         M
department    EE
weight        83
<class 'pandas.core.frame.DataFrame'>

In [14]:
print(df_students["Ahmet", "Hale"])

# Tek boyutlu Series'e iki sütun girmeye çalışırsak bu şekilde hata alırız.

KeyError: ('Ahmet', 'Hale')

In [17]:
print(df_students[["Ahmet", "Hale"]])

# İkinci bir boyut ekleyerek Seriesten kurtarıp onu dataframe yaparak 2. bir sütunu da aynı anda yazdırabiliriz.

           Ahmet Hale
age           32   25
gender         M    F
department    EE   CE
weight        83   61

In [18]:
students = {"Hale" : pd.Series(data= [25, "F", "CE", 61], index= ["age", "gender", "department", "weight"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "M", "TT", 55], index= ["age", "gender", "department", "weight"])
}

df_students = pd.DataFrame(students)

print(df_students)

# Orjinal dataframemimizi gözden kaybetmemek için tekrardan buraya aldım.

           Hale Ahmet Fatma
age          25    32    40
gender        F     M     M
department   CE    EE    TT
weight       61    83    55

In [22]:
# loc , iloc

print(df_students.loc["age"])
print(type(df_students.loc["age"]))

# loc ile age bilgilerine ulaştık. 
# Ancak bunu bize bir Series yapısı olarak verir.

Hale     25
Ahmet    32
Fatma    40
Name: age, dtype: object
<class 'pandas.core.series.Series'>

In [24]:
print(df_students.loc[["age", "gender"]])
print(type(df_students.loc[["age", "gender"]]))

# loc metoduna iki parametre girdiğimiz için onları 2 liste içine aldık ki hata almayalım.
# Tabi ki artık iki boyutlu olduğu için type'ı da dataframe oldu.

       Hale Ahmet Fatma
age      25    32    40
gender    F     M     M
<class 'pandas.core.frame.DataFrame'>

In [27]:
# DF[col][row]

print(df_students["Hale"]["age"])

# Önce sütun sonra satırı liste içinde belirterek istediğimiz spesifik veriye ulaşabiliriz.

25

In [26]:
print(df_students["Fatma"]["department"])

# Bu da bir başka örnek.

TT

In [28]:
print(df_students["Hale"][0])

# Bu şekilde index numarasını da satır ismi yerine kullanabiliriz.

25

In [29]:
print(df_students[0][0])

# Ancak sütunlar için bu özelliği kullanırsak hata alırız.
# Sütunlarda sütunun ismini her halükarda yazmamız gerekiyor.

KeyError: 0

In [30]:
students = {"Hale" : pd.Series(data= [25, "F", "CE", 61], index= ["age", "gender", "department", "weight"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "M", "TT", 55], index= ["age", "gender", "department", "weight"])
}

df_students = pd.DataFrame(students)

print(df_students)

# Orjinal dataframemimizi gözden kaybetmemek için tekrardan buraya aldım.

           Hale Ahmet Fatma
age          25    32    40
gender        F     M     M
department   CE    EE    TT
weight       61    83    55

In [31]:
df_students["Fatih"] = [17, "M", "ELH", 90]

print(df_students)

# Gördüğünüz şekilde dataframe'imize yeni datalarda ekleme yapabiliriz.

           Hale Ahmet Fatma Fatih
age          25    32    40    17
gender        F     M     M     M
department   CE    EE    TT   ELH
weight       61    83    55    90

In [32]:
df_students["Hasan"] = df_students["Fatma"] + df_students["Fatih"]

print(df_students)

# Zaten dataframemizin içinde bulunan dataların üzerinde işlemler yapıp bunları yeni datalar oluşturmak için kullanabiliriz.

           Hale Ahmet Fatma Fatih  Hasan
age          25    32    40    17     57
gender        F     M     M     M     MM
department   CE    EE    TT   ELH  TTELH
weight       61    83    55    90    145

In [33]:
new_row = pd.DataFrame({"Hale": "Kürek", "Ahmet": "Manav", "Fatma": "Küçük", "Fatih": "Yolcu", "Hasan": "Kılınç"},
     index= ["surname"])

df_students = df_students.append(new_row)

print(df_students)

# Yeni bir satır işleme yapmak için birazcık uğraş istiyor.
# Ekleme yapmadan önce yeni bir dataframe oluşturmamız gerekiyor.
# Ardından üzerine satır eklemek istediğimiz dataframemize append metodu kullanarak sonradan oluşturduğumuz 
# dataframemizi ekliyoruz ve çıktımız istediğimiz gibi oluyor.

             Hale  Ahmet  Fatma  Fatih   Hasan
age            25     32     40     17      57
gender          F      M      M      M      MM
department     CE     EE     TT    ELH   TTELH
weight         61     83     55     90     145
surname     Kürek  Manav  Küçük  Yolcu  Kılınç

C:\Users\Fallrytme\AppData\Local\Temp\ipykernel_8624\3253252879.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_students = df_students.append(new_row)

In [34]:
students = {"Hale" : pd.Series(data= [25, "F", "CE", 61], index= ["age", "gender", "department", "weight"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "M", "TT", 55], index= ["age", "gender", "department", "weight"])
}

df_students = pd.DataFrame(students)

print(df_students)

# Orjinal dataframemimizi gözden kaybetmemek için tekrardan buraya aldım.

           Hale Ahmet Fatma
age          25    32    40
gender        F     M     M
department   CE    EE    TT
weight       61    83    55

In [35]:
# pop -> sadece sütunları çıkarabiliriz.
# drop -> hem sütun hem satırları çıkarabiliriz.

df_students.pop("Ahmet")

print(df_students)

# Gördüğünüz gibi sütun çıkarma işlemini çok basit bir şekilde yapabiliyoruz.
# Ancak satır çıkarma işlemini yapamaması bu metodun zayıf yanıdır.

           Hale Fatma
age          25    40
gender        F     M
department   CE    TT
weight       61    55

In [37]:
df_students = df_students.drop("Hale", axis= 1)

print(df_students)

# pop metodundan farklı olarak drop metodu ana ögemizde değişiklik yapmıyor.
# Bu yüzden drop kullanırken onu bir değişkene atamamız gerekiyor aksi takdirde kalıcı değişiklik yapmış olmuyoruz.
# axis= 1 kullanarak sütunda silme işlemi yapacağımızı belirttik. Yoksa hata alırız.

           Fatma
age           40
gender         M
department    TT
weight        55

In [38]:
df_students = df_students.drop("department", axis= 0)

print(df_students)

# Sütunumuzu zaten silmiştik bu seferde axis parametresine 0 değerini atayarak
# Satırda silme işlemi yapacağımızı belirttik ve department adlı satırımızı sildik.

       Fatma
age       40
gender     M
weight    55

In [44]:
students = {"Hale" : pd.Series(data= [25, "F", "CE", 61], index= ["age", "gender", "department", "weight"]),
    "Ahmet" : pd.Series(data= [32, "M", "EE", 83], index= ["age", "gender", "department", "weight"]),
    "Fatma" : pd.Series(data= [40, "M", "TT", 55], index= ["age", "gender", "department", "weight"])
}

df_students = pd.DataFrame(students)

print(df_students)

# Orjinal dataframemimizi gözden kaybetmemek için tekrardan buraya aldım.

           Hale Ahmet Fatma
age          25    32    40
gender        F     M     M
department   CE    EE    TT
weight       61    83    55

In [45]:
df_students = df_students.drop(["Hale", "Fatma"], axis= 1)

print(df_students)

# Birden fazla silme işlemini de aynı zamanda yapabiliriz.
# Bunun için sadece sileceğimiz sütun adlarını liste parantezine almamız gerekiyor.

           Ahmet
age           32
gender         M
department    EE
weight        83

In [46]:
df_students = df_students.drop(["department", "weight"], axis= 0)

print(df_students)

# Sütunda yaptığımız gibi bu işlemi satırda da aynı şekilde kullanabiliyoruz.

       Ahmet
age       32
gender     M