In [2]:
import pandas as pd
import numpy as np

In [3]:
obje = pd.Series(np.arange(5), index= ["a", "b", "c", "d", "e"])
obje

# Bir Series tanımlaması yaptık.
# index numaraları yerine kendimiz isimlendirme yaptık.

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [4]:
obje["c"]

# c isimli indexin değerine eriştik.

2

In [5]:
obje[2]

# Index numarasıyla da değere ulaşabilmemiz mümkündür.

2

In [6]:
obje[0:3]

# Slicing işlemi de yapabilmemiz Series'te mümkün.

a    0
b    1
c    2
dtype: int32

In [7]:
obje[["a", "c"]]

# Spesifik olarak almak istediğimiz satırlar varsa bunları iç içe köşeli parantezlerde belirterek yazabiliriz.

a    0
c    2
dtype: int32

In [8]:
obje[[0, 2]]

# Aynı şeyi index numarasıyla da yapabiliriz.

a    0
c    2
dtype: int32

In [9]:
obje[obje < 2]

# Koşul belirterekte slicing işlemi yapabiliriz.

a    0
b    1
dtype: int32

In [10]:
obje["a": "c"]

# indeks adıyla dilimle yaparken dikkat etmemiz gereken bir husus var.
# o da bitiş değerinin de dahil olması.
# Normalde python dilinde bitiş değeri alınmaz ancak bunu indeks adıyla yaparsak onu da dahil eder.

a    0
b    1
c    2
dtype: int32

In [12]:
obje["b": "c"] = 5
obje

# Slicing ile atama işlemini de birleştirebiliriz.

a    0
b    5
c    5
d    3
e    4
dtype: int32

In [13]:
veri = pd.DataFrame(np.arange(16).reshape(4, 4), index= ["Bursa", "Ankara", "Rize", "İstanbul"], columns= ["bir", "iki", "üç", "dört"])
veri

# dataframe 'imizi oluşturduk.

          bir  iki  üç  dört
Bursa       0    1   2     3
Ankara      4    5   6     7
Rize        8    9  10    11
İstanbul   12   13  14    15

In [14]:
veri["iki"]

# Sütun adını belirterek belirli bir sütuna erişebiliriz.

Bursa        1
Ankara       5
Rize         9
İstanbul    13
Name: iki, dtype: int32

In [15]:
veri[["bir", "iki"]]

# Birden fazla sütun yazdırmak istersek liste içinde liste yapısı kullanmamız gerekiyor.

          bir  iki
Bursa       0    1
Ankara      4    5
Rize        8    9
İstanbul   12   13

In [16]:
veri[:3]

# Index numarasıyla slicing işlemi dataframe yapısında da yapılabiliyor.

        bir  iki  üç  dört
Bursa     0    1   2     3
Ankara    4    5   6     7
Rize      8    9  10    11

In [17]:
veri[veri["dört"] > 5]

# dört sütunundaki 5 'ten büyük olan değerler indeksleriyle birlikte yazdırıldı.

          bir  iki  üç  dört
Ankara      4    5   6     7
Rize        8    9  10    11
İstanbul   12   13  14    15

In [18]:
veri[veri < 5] = 0
veri

# 5 'ten küçük değerlere yeniden atama işlemi yaptık.

          bir  iki  üç  dört
Bursa       0    0   0     0
Ankara      0    5   6     7
Rize        8    9  10    11
İstanbul   12   13  14    15

In [20]:
print(veri)
veri.iloc[1]

# 1 'inci indeks numarasına sahip satırın değerleri yazdırıldı.
# iloc indeks location olarak düşünülebilir.

          bir  iki  üç  dört
Bursa       0    0   0     0
Ankara      0    5   6     7
Rize        8    9  10    11
İstanbul   12   13  14    15

bir     0
iki     5
üç      6
dört    7
Name: Ankara, dtype: int32

In [21]:
veri.iloc[1, [1, 2, 3]]

# 1 'inci indekse sahip satırın 1,2,3 'üncü sütunları yazdırıldı.

iki     5
üç      6
dört    7
Name: Ankara, dtype: int32

In [22]:
veri.iloc[[1, 3], [1, 2, 3]]

# 1 ve 3 'üncü indekse sahip satırların 1,2 ve 3 'üncü sütunlarını yazdırdık.

          iki  üç  dört
Ankara      5   6     7
İstanbul   13  14    15

In [23]:
veri.loc["Rize", ["bir", "iki"]]

# ilocta indeks numarasıyla iş yapmıştık.
# loc 'ta ise indeks ismiyle iş yapıyoruz.

bir    8
iki    9
Name: Rize, dtype: int32

In [25]:
print(veri)

veri.loc[:"Rize", "dört"]

# 0 'dan Rize 'ye kadar olan satırların. Rize 'de dahil.
# dört isimli sütunları yazdırıldı.

          bir  iki  üç  dört
Bursa       0    0   0     0
Ankara      0    5   6     7
Rize        8    9  10    11
İstanbul   12   13  14    15

Bursa      0
Ankara     7
Rize      11
Name: dört, dtype: int32

In [26]:
veri = pd.Series(np.arange(5))
veri

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [27]:
veri[-1]

# Eğer verinin indeksleri isimlendirilmemişse böyle hata alırız.

KeyError: -1

In [28]:
veri = pd.Series(np.arange(5), index= ["a", "b", "c", "d", "e"])
veri

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [29]:
veri[-1]

# Satırları böyle isimlendirirsek negatif değerlerle de verilere erişebiliriz.

4