In [1]:
import pandas as pd

# Pandas modülümüzü içe aktardık.

In [2]:
obje = pd.Series([1, "Ali", 3.5, "Hey"])
obje

# Seriesler bir boyutludur.
# İlk seriesimizi oluşturmuş olduk.

0      1
1    Ali
2    3.5
3    Hey
dtype: object

In [3]:
obje[0]

# Serieslerdeki verilere ulaşmak için aynı listelerdeki gibi index numarasını kullanabiliriz.

1

In [4]:
obje[3]

'Hey'

In [5]:
obje.values

# values özelliği ile Series'imizi ndarray olarakta yazdırabiliriz.

array([1, 'Ali', 3.5, 'Hey'], dtype=object)

In [7]:
obje = pd.Series([1, "Ali", 3.5, "Hey"], index= ["a", "b", "c", "d"])
obje
# index parametresiyle indexleri kendimizde isimlendirebiliriz.

a      1
b    Ali
c    3.5
d    Hey
dtype: object

In [8]:
obje["a"]

# Oluşturduğumuz isimlendirmelerle de verilere index numarasıyla ulaştığımız gibi ulaşabiliriz.

1

In [9]:
obje.index

# Aynı şekilde indexleri de verilerde yaptığımız gibi ndarray olarak yazdırabiliriz.
# Bunu için index özelliğini kullanıyoruz.

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
puan = {"Ali": 90, "Can": 80, "Efe": 75, "Buse": 95}
nt = pd.Series(puan)
nt

# Elimizdeki dictionary tipindeki veri tipini Series veri tipine dönüştürdük.
# key değerleri index ismini aldı.
# value değerleri de verilerimiz oldu.

Ali     90
Can     80
Efe     75
Buse    95
dtype: int64

In [12]:
nt["Can"]

80

In [13]:
nt[nt > 85]

# Aynı zamanda çağırma yaparken şartta belirleyebiliriz.
# Burada notu 85'ten büyük olanları ekrana yazdırdık.

Ali     90
Buse    95
dtype: int64

In [14]:
nt<85

# Bool olarakta sonuç alabiliriz.
# 85'ten küçük olanlar True diğerleri False olarak ekranımıza geldi.

Ali     False
Can      True
Efe      True
Buse    False
dtype: bool

In [15]:
nt["Can"] = 60
nt

# Belirli bir veriyi de index adını kullanarak değiştirmemiz mümkündür.

Ali     90
Can     60
Efe     75
Buse    95
dtype: int64

In [16]:
nt[nt < 80] = 83
nt

# Aynı anda birden fazla değiştirme de yapabiliriz.
# Burada sınırlarımızı zorlayıp hem koşul belirterek koşula uyanlarda değişim uyguladık.

Ali     90
Can     83
Efe     83
Buse    95
dtype: int64

In [17]:
"Efe" in nt

# Ayrıca Serieslerde sorgulama da yapabiliriz.
# Efe isminin var olup olmadığını sorguladık ve True cevabını aldık. Yani varmış.

True

In [18]:
"Ahmet" in nt

False

In [19]:
nt/10

# Series değerler üzerinde matematiksel işlemler de yapabiliriz.

Ali     9.0
Can     8.3
Efe     8.3
Buse    9.5
dtype: float64

In [20]:
nt ** 2

Ali     8100
Can     6889
Efe     6889
Buse    9025
dtype: int64

In [21]:
nt.isnull()

# isnull() metodu ile değer var mı diye sorgulama yapabiliriz.
# Hepsinden False değeri aldık çünkü bütün indexlerde değerler mevcut.

Ali     False
Can     False
Efe     False
Buse    False
dtype: bool