In [1]:
import pandas as pd

In [2]:
veri = pd.DataFrame({"a": ["bir", "iki"]*3, "b": [1, 1, 2, 3, 2, 3]})
veri

     a  b
0  bir  1
1  iki  1
2  bir  2
3  iki  3
4  bir  2
5  iki  3

In [3]:
veri.duplicated()

# Tekrar eden verileri sorgularız.

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [4]:
veri.drop_duplicates()

# tekrar eden veriler silinir.

     a  b
0  bir  1
1  iki  1
2  bir  2
3  iki  3

In [5]:
veri["c"] = range(6)
veri

# c adında sütun ekledik.

     a  b  c
0  bir  1  0
1  iki  1  1
2  bir  2  2
3  iki  3  3
4  bir  2  4
5  iki  3  5

In [6]:
veri.duplicated(["a"])

# sorgulamayı sadece a sütununda yaptık.

0    False
1    False
2     True
3     True
4     True
5     True
dtype: bool

In [7]:
veri.duplicated(["c"])

# sorgulamayı sadece c sütununda yaptık.

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [8]:
veri.duplicated(["a", "b"])

# sorgulamayı a ve b sütunlarına göre yaptık.
# yani True değeri gelmesi için hem a hem b sütununddeki
# değerlerin daha önce var olmuş olması gerekiyor.

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [9]:
veri.duplicated(["a", "b"], keep= "last")

# keep= parametresine last değeri atarsak
# sorgulamayı tersten yapar.

0    False
1    False
2     True
3     True
4    False
5    False
dtype: bool

In [13]:
vs = pd.DataFrame({"isim": ["Ali", "can", "Nur", "Efe", "ata"],
"puan": [60, 50, 70, 80, 40]})
vs

# dataframe veri setimizi oluşturduk.

  isim  puan
0  Ali    60
1  can    50
2  Nur    70
3  Efe    80
4  ata    40

In [14]:
sinif = {"Ali": "A", "Can": "A", "Nur": "B", "Efe": "B", "Ata": "B"}

In [15]:
ad = vs["isim"].str.capitalize()

# isim sütunumzdaki verilerin baş harflerini büyük yaptık.

In [18]:
vs["sube"] = ad.map(sinif)
vs

# map() methodu ile
# vs veri setimize sinif değişkenindeki verileri sütun olarak ekledik.

  isim  puan sube
0  Ali    60    A
1  can    50    A
2  Nur    70    B
3  Efe    80    B
4  ata    40    B

In [19]:
nt = pd.Series([80, 70, 90, 60])
nt

# Series veri tipimizi belirledik.

0    80
1    70
2    90
3    60
dtype: int64

In [20]:
import numpy as np

In [21]:
nt.replace(70, np.nan)

# replace() methoduyla 70 değerini eksik veriyle değiştirdik.

0    80.0
1     NaN
2    90.0
3    60.0
dtype: float64

In [22]:
nt.replace([70, 60], [np.nan, 0])

# birden fazla veride de değişiklik yapabiliriz.

0    80.0
1     NaN
2    90.0
3     0.0
dtype: float64

In [23]:
nt.replace({90: 100, 60: 0})

# sözlük yapısıyla da değişiklik yapabiliyoruz.

0     80
1     70
2    100
3      0
dtype: int64

In [24]:
df = pd.DataFrame(np.arange(12).reshape(3, 4), 
index= [0, 1, 2], columns= ["Ali", "Efe", "Eda", "Can"])
df

# dataframe veri setimizi oluşturduk.

   Ali  Efe  Eda  Can
0    0    1    2    3
1    4    5    6    7
2    8    9   10   11

In [25]:
s = pd.Series(["bir", "iki", "uc"])

df.index= df.index.map(s)

df

# önce s değişkeninde Series yapı oluşturduk.
# sonra df adlı dataframe yapısındaki indexleri
# map() methodunda s değerini kullanarak 
# dataframe deki index isimlerini değiştirdik.

     Ali  Efe  Eda  Can
bir    0    1    2    3
iki    4    5    6    7
uc     8    9   10   11

In [26]:
df.rename(index= str.title, columns= str.upper)

# rename() methoduyla satır ve sütun isimlerinde değişiklik yapabiliriz.

     ALI  EFE  EDA  CAN
Bir    0    1    2    3
Iki    4    5    6    7
Uc     8    9   10   11

In [28]:
df

     Ali  Efe  Eda  Can
bir    0    1    2    3
iki    4    5    6    7
uc     8    9   10   11

In [30]:
df.rename(index= {"bir": "on"}, columns= {"Can": "Ata"})

# spesifik değişiklikler içinde rename() methodunu kullanabiliriz.

     Ali  Efe  Eda  Ata
on     0    1    2    3
iki    4    5    6    7
uc     8    9   10   11

In [31]:
df

     Ali  Efe  Eda  Can
bir    0    1    2    3
iki    4    5    6    7
uc     8    9   10   11

In [ ]:
df.rename(index= {"bir": "on"}, columns= {"Can": "Ata"}, inplace= True)
df
# inplace methoduna True değeri vererek orjinal dataframe'imize
# değişikliklerin kalıcı olmasını sağlayabiliriz.